# Input Events CV

In [1]:
import pandas as pd  # type: ignore
import os 
import glob 
from datetime import datetime
import numpy as np

import warnings
# Temporarily suppress FutureWarnings
with warnings.catch_warnings():
    warnings.simplefilter("ignore", FutureWarning)

In [2]:
directory = '/Users/maxb/Library/CloudStorage/OneDrive-UniversityofWaterloo/Hospital Research/Datasets/MIMIC-III_demo'
os.chdir(directory)

ievents_df = pd.read_csv("INPUTEVENTS_CV.csv")
ievents_df.head()

/var/folders/l8/w77hdfv1735czt0xx90sm3_80000gn/T/ipykernel_25780/3390268483.py:4: DtypeWarning: Columns (17,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  ievents_df = pd.read_csv("INPUTEVENTS_CV.csv")

,row_id,subject_id,hadm_id,icustay_id,charttime,itemid,amount,amountuom,rate,rateuom,...,orderid,linkorderid,stopped,newbottle,originalamount,originalamountuom,originalroute,originalrate,originalrateuom,originalsite
0,1184,10114,167957,234989,2171-11-03 15:00:00,30056,400.0,ml,NaN,NaN,...,2557279,2557279,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
1,1185,10114,167957,234989,2171-11-03 20:00:00,30056,120.0,ml,NaN,NaN,...,7828849,2557279,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
2,1186,10114,167957,234989,2171-11-03 23:00:00,30056,120.0,ml,NaN,NaN,...,2744159,2557279,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
3,1187,10114,167957,234989,2171-11-04 02:00:00,30056,120.0,ml,NaN,NaN,...,8475006,2557279,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
4,1188,10114,167957,234989,2171-11-04 05:00:00,30056,120.0,ml,NaN,NaN,...,11183474,2557279,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN

In [3]:
cols = list(ievents_df.columns)
print(cols)

['row_id', 'subject_id', 'hadm_id', 'icustay_id', 'charttime', 'itemid', 'amount', 'amountuom', 'rate', 'rateuom', 'storetime', 'cgid', 'orderid', 'linkorderid', 'stopped', 'newbottle', 'originalamount', 'originalamountuom', 'originalroute', 'originalrate', 'originalrateuom', 'originalsite']

In [4]:
col_drops = ["orderid", "linkorderid", "newbottle", "originalamount", 
             "originalamountuom", "originalroute", "originalrate", "originalrateuom", 
             "originalsite", "storetime", "charttime", "rate", "rateuom", "stopped", "row_id"]

for i in col_drops:
    ievents_df = ievents_df.drop(i, axis=1)

In [5]:
#ievents_df.head()
#print(ievents_df['stopped'].unique()) 
#ievents_df["stopped"] = ievents_df["stopped"].fillna(0)

Not sure how to handle the stopped column

In [6]:
ievents_df = ievents_df.dropna()        # Removing any remaining rows containing NaN
cols = list(ievents_df.columns)

for i in cols:
    check_nan = ievents_df[i].isnull().values.any()
    if check_nan == True:
        print(i)
        print("Nan value found")
        break

In [7]:
print("Input Events CV:", ievents_df.shape)
ievents_df.head()

Input Events CV: (24490, 7)

   subject_id  hadm_id  icustay_id  itemid  amount amountuom     cgid
0       10114   167957      234989   30056   400.0        ml  18367.0
1       10114   167957      234989   30056   120.0        ml  17053.0
2       10114   167957      234989   30056   120.0        ml  17053.0
3       10114   167957      234989   30056   120.0        ml  17053.0
4       10114   167957      234989   30056   120.0        ml  17053.0

In [8]:

ievents_df.to_csv('/Users/maxb/Library/CloudStorage/OneDrive-UniversityofWaterloo/Hospital Research/Scripts/Cleaned MIMIC-III Datasets/INPUTEVENTS_CV.csv')

# Conclusion

Table has been cleaned. Some good variables to be used.