# ICD Procedures

In [1]:
import pandas as pd  # type: ignore
import os 
import glob 
from datetime import datetime
import numpy as np

import warnings
# Temporarily suppress FutureWarnings
with warnings.catch_warnings():
    warnings.simplefilter("ignore", FutureWarning)

In [2]:
directory = '/Users/maxb/Library/CloudStorage/OneDrive-UniversityofWaterloo/Hospital Research/Datasets/MIMIC-III_demo'
os.chdir(directory)

picd_df = pd.read_csv("PROCEDURES_ICD.csv")

m,n = picd_df.shape

picd_df.head()

   row_id  subject_id  hadm_id  seq_num  icd9_code
0    3994       10114   167957        1       3605
1    3995       10114   167957        2       3722
2    3996       10114   167957        3       8856
3    3997       10114   167957        4       9920
4    3998       10114   167957        5       9671

In [3]:
picd_df = picd_df.drop('seq_num',axis=1)
picd_df = picd_df.drop('row_id',axis=1)
print("ICD Procedure:", picd_df.shape)
picd_df.head()

ICD Procedure: (506, 3)

   subject_id  hadm_id  icd9_code
0       10114   167957       3605
1       10114   167957       3722
2       10114   167957       8856
3       10114   167957       9920
4       10114   167957       9671

# Data Cleaned

In [4]:
picd_df[picd_df['subject_id'] == 42367]

     subject_id  hadm_id  icd9_code
304       42367   139932        131
305       42367   139932       3129
306       42367   139932        151
307       42367   139932        243
308       42367   139932        131
309       42367   139932       3893
310       42367   139932       9604
311       42367   139932       9672
312       42367   139932       3893
313       42367   139932       9904
314       42367   139932       9905

In [5]:
picd_df.to_csv('/Users/maxb/Library/CloudStorage/OneDrive-UniversityofWaterloo/Hospital Research/Scripts/Cleaned MIMIC-III Datasets/ICD_PROCEDURES.csv')