# Procedures Events MV

Table contains procedures on patients

In [1]:
import pandas as pd  # type: ignore
import os 
import glob 
from datetime import datetime
import numpy as np

import warnings
# Temporarily suppress FutureWarnings
with warnings.catch_warnings():
    warnings.simplefilter("ignore", FutureWarning)

In [2]:
directory = '/Users/maxb/Library/CloudStorage/OneDrive-UniversityofWaterloo/Hospital Research/Datasets/MIMIC-III_demo'
os.chdir(directory)

proc_df = pd.read_csv("PROCEDUREEVENTS_MV.csv")

m,n = proc_df.shape

# Converting to Date Time object
for i in range(m):                                                                 
   proc_df.loc[i, 'starttime'] = datetime.strptime(proc_df.loc[i, 'starttime'], '%Y-%m-%d %H:%M:%S')
   proc_df.loc[i, 'endtime'] = datetime.strptime(proc_df.loc[i, 'endtime'], '%Y-%m-%d %H:%M:%S')

Creating Features

In [3]:
proc_df["duration"] = proc_df['endtime'] - proc_df['starttime']                 # Duration of Procedure

Removing Unnecessary features

In [4]:
col_drops = ["row_id", "valueuom", "location", "locationcategory", "ordercategoryname", "secondaryordercategoryname", 
                 "comments_editedby", "comments_canceledby", "comments_date", "statusdescription", "cancelreason", 
                 "continueinnextdept", "isopenbag", "orderid", "linkorderid", "storetime", "starttime", "endtime"]

for i in col_drops:
    proc_df = proc_df.drop(i, axis=1)

proc_df.head()

,subject_id,hadm_id,icustay_id,itemid,value,cgid,ordercategorydescription,duration
0,42367,139932,250305,224263,4520,16890,Task,"3 days, 3:20:00"
1,42367,139932,250305,225204,12957,16890,Task,"8 days, 23:57:00"
2,42367,139932,250305,225792,21485,18693,Task,"14 days, 22:05:00"
3,42367,139932,250305,221214,1,16890,Electrolytes,0:01:00
4,42367,139932,250305,221223,1,16890,Electrolytes,0:01:00

In [5]:
# Testing Columns
print(proc_df['ordercategorydescription'].unique())

['Task' 'Electrolytes']

In [6]:
cols = list(proc_df.columns)

for i in cols:
    check_nan = proc_df[i].isnull().values.any()
    if check_nan == True:
        print("Nan value found")
        break

# All Nan Values removed - Table is cleaned

In [7]:
print("MV Procedures:", proc_df.shape)
proc_df.head()

MV Procedures: (753, 8)

,subject_id,hadm_id,icustay_id,itemid,value,cgid,ordercategorydescription,duration
0,42367,139932,250305,224263,4520,16890,Task,"3 days, 3:20:00"
1,42367,139932,250305,225204,12957,16890,Task,"8 days, 23:57:00"
2,42367,139932,250305,225792,21485,18693,Task,"14 days, 22:05:00"
3,42367,139932,250305,221214,1,16890,Electrolytes,0:01:00
4,42367,139932,250305,221223,1,16890,Electrolytes,0:01:00

In [8]:
proc_df.to_csv('/Users/maxb/Library/CloudStorage/OneDrive-UniversityofWaterloo/Hospital Research/Scripts/Cleaned MIMIC-III Datasets/MV_PROCEDURES.csv')

In [9]:
proc_df[proc_df['subject_id'] == 42367]

,subject_id,hadm_id,icustay_id,itemid,value,cgid,ordercategorydescription,duration
0,42367,139932,250305,224263,4520,16890,Task,"3 days, 3:20:00"
1,42367,139932,250305,225204,12957,16890,Task,"8 days, 23:57:00"
2,42367,139932,250305,225792,21485,18693,Task,"14 days, 22:05:00"
3,42367,139932,250305,221214,1,16890,Electrolytes,0:01:00
4,42367,139932,250305,221223,1,16890,Electrolytes,0:01:00
5,42367,139932,250305,225459,1,21476,Electrolytes,0:01:00
6,42367,139932,250305,223253,1,18804,Electrolytes,0:01:00
7,42367,139932,250305,224275,5663,18804,Task,"3 days, 22:23:00"
8,42367,139932,250305,225459,1,17461,Electrolytes,0:01:00
9,42367,139932,250305,225470,1,17461,Electrolytes,0:01:00
10,42367,139932,250305,225469,1,17461,Electrolytes,0:01:00
11,42367,139932,250305,225752,12629,17461,Task,"8 days, 18:29:00"
12,42367,139932,250305,225459,1,17461,Electrolytes,0:01:00
13,42367,139932,250305,221214,1,17461,Electrolytes,0:01:00
14,42367,139932,250305,224275,8549,15803,Task,"5 days, 22:29:00"
15,42367,139932,250305,225459,1,15803,Electrolytes,0:01:00
16,42367,139932,250305,221214,1,15803,Electrolytes,0:01:00
17,42367,139932,250305,221223,1,17346,Electrolytes,0:01:00
18,42367,139932,250305,225459,1,19907,Electrolytes,0:01:00
19,42367,139932,250305,221214,1,17346,Electrolytes,0:01:00
20,42367,139932,250305,224264,29275,20889,Task,"20 days, 7:55:00"
21,42367,139932,250305,225459,1,17346,Electrolytes,0:01:00
22,42367,139932,250305,225459,1,21476,Electrolytes,0:01:00
23,42367,139932,250305,221214,1,18602,Electrolytes,0:01:00
24,42367,139932,250305,221223,1,17461,Electrolytes,0:01:00
25,42367,139932,250305,221223,1,17461,Electrolytes,0:01:00
26,42367,139932,250305,225459,1,17461,Electrolytes,0:01:00
27,42367,139932,250305,225448,1,18861,Electrolytes,0:01:00
28,42367,139932,250305,225448,1,14833,Electrolytes,0:01:00
29,42367,139932,250305,225446,1,20871,Electrolytes,0:01:00
30,42367,139932,250305,225459,1,18861,Electrolytes,0:01:00
31,42367,139932,250305,225470,1,14605,Electrolytes,0:01:00
32,42367,139932,250305,224275,2163,14605,Task,"1 day, 12:03:00"
33,42367,139932,250305,225469,1,14605,Electrolytes,0:01:00
34,42367,139932,250305,221214,1,16297,Electrolytes,0:01:00
35,42367,139932,250305,221223,1,16890,Electrolytes,0:01:00
36,42367,139932,250305,225444,1,17062,Electrolytes,0:01:00
37,42367,139932,250305,221217,1,16890,Electrolytes,0:01:00
38,42367,139932,250305,221214,1,17346,Electrolytes,0:01:00
39,42367,139932,250305,225459,1,16027,Electrolytes,0:01:00
40,42367,139932,250305,221214,1,16027,Electrolytes,0:01:00
41,42367,139932,250305,221214,1,14431,Electrolytes,0:01:00
42,42367,139932,250305,225459,1,17877,Electrolytes,0:01:00
43,42367,139932,250305,221223,1,15795,Electrolytes,0:01:00
44,42367,139932,250305,221223,1,14213,Electrolytes,0:01:00
45,42367,139932,250305,225459,1,16027,Electrolytes,0:01:00
46,42367,139932,250305,221214,1,15795,Electrolytes,0:01:00

In [ ]:
picd_df.to_csv('/Users/maxb/Library/CloudStorage/OneDrive-UniversityofWaterloo/Hospital Research/Scripts/Cleaned MIMIC-III Datasets/ICD_PROCEDURES.csv')